
/* footer */
footer {
    background: #03009c;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
    footer .copyright {
        width: 99%;
        display: flex;
        color: #ffffff;
        justify-content: space-around;
        align-content: center;
        padding: 0 10px;
        font-size: 18px;
    }
        footer .copyright a {
            color: #ffffff;
        }
