:root {
    --offset: -24;
    --left: 845;
    --width: 402;
}
    body {
        background: #fff;
        width: 100%;
        margin: 0 auto !important;
        font-family: 'Montserrat', sans-serif;
    }
    /* layout */
    body .grid {
        grid-template-areas: "header header header"
            "sidebar catalogo catalogo"
            "sidebar catalogo catalogo"
            "footer  footer   footer";
        display: grid;
        justify-content: center;
        margin: 0 auto;
    }
        header {grid-area: header;}
        .seccionCatalogo {grid-area: catalogo;}
        .sidebar {grid-area: sidebar;}
        footer {grid-area: footer;}
            /* contenedor-header */
            .header .contenedor .contenedor-header {
                max-height: 300px;
                position: relative;
                z-index: 3;
            }
            .contenedor-header .imagen>img {
                width: 100%;
                border-radius: 0 0 100px 100px;
                filter: brightness(0.75);
            
            }
            .contenedor-header .imagen>img:hover {
                border-radius: 0;
                transition: 2s ease;
                filter: brightness(1);
                            
            }
        /* catalogo */
        .seccionCatalogo{
            margin-top: 20px;
            padding-bottom: 30px;
        }
            .seccionCatalogo .text {
                margin: 10px auto 0;
                display: flex;
                font-size: 25px;
                font-weight: 300;
                color: #0300D4;
                justify-content: center;
            }
            .seccionCatalogo .seccionProductos {
                margin: 0 20px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
            }
                .seccionCatalogo .seccionProductos .cajaProducto {
                    outline: none;
                    margin: 10px 20px 40px;
                    box-shadow: 0 0 5px #0300D4;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    border-radius: 10px;
                    background: #fff;
                }

                .seccionCatalogo .seccionProductos .cajaProducto:hover{
                    box-shadow: 0 0 15px #0300D4;
                    transition: 0.5s ease;
                }
                    .seccionCatalogo .seccionProductos .cajaProducto .datosProducto {
                        margin: 5px 10px;
                    }
                    .seccionCatalogo .seccionProductos .cajaProducto .imagenProducto {
                        width: 300px;
                        height: 250px;
                        outline: none;
                        border-radius: 10px 10px 0 0;
                    }
                    .seccionCatalogo .seccionProductos .cajaProducto .titulo {
                        font-size: 15px;
                        color: #000000;
                        font-weight: 700;
                        align-self: center;
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                    .seccionCatalogo .seccionProductos .cajaProducto .descripcion {
                        font-size: 12px;
                        color: #000000;
                        margin: 5px auto;
                    }
                    .seccionCatalogo .seccionProductos .cajaProducto .precio {
                        margin: 5px auto;
                        font-size: 15px;
                        font-weight: 600;
                        color: #000000;
                        ;
                    }
                    .seccionCatalogo .seccionProductos .cajaProducto .btn {
                        width: 100%;
                        margin-top: 5px;
                        padding: 10px 0;
                        background: #fff;
                        color: #0300D4;
                        border: none;
                        border-top: 1px solid #0300D4;
                        font-size: 20px;
                        font-weight: 500;
                        border-radius: 0 0 10px 10px;
                    }
                        .seccionCatalogo .seccionProductos .cajaProducto .btn:hover {
                            cursor: pointer;
                            background: #0300D4;
                            color: #fff;
                            transition: ease 0.5s;
                        }
                .seccionCatalogo .seccionProductos .productoAgregado {
                    display: none;
                    right: 0px;
                    left: 750px;
                    bottom: 40px;
                    position: fixed;
                    padding: 10px;
                    color: #fff;
                    background: #0300D4;
                    font-size: 22px;
                    opacity: 0.95;
                    border-radius: 33px 0px 0px 33px;
                    border: 2px solid #0400ff;
                }
        /* sidebar */
        .sidebar{
            margin: 0 40px;
            padding: 0;
            z-index:2;
            width: 100%;
        }
            .sidebar .filtros .formulario{
                color: rgb(0, 0, 0);
                margin: 40px 0 0 0;
                background: #fff;
                border-radius: 33px;
                box-shadow: 0 0 5px #0300D4;
                padding: 20px;
            }
                .sidebar .filtros .formulario .textosForm{
                    margin: 25px 0 5px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #0300D4;
                }
                .sidebar .filtros .formulario .cajaSubtextos{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: flex-start;
                }
                    .sidebar .filtros .formulario .cajaSubtextos .subtextosForm{
                        font-size: 15px;
                        color: #0300D4;
                        margin: 7px 0 5px;
                    }
                .sidebar .filtros .formulario .marcasForm{
                    margin: 7px 5px;    
                }
                .sidebar .filtros .formulario .btnForm{
                    background: transparent;
                    color: #0300D4;
                    border: 1px solid #0300D4;
                    padding: 5px 10px;
                    border-radius: 10px;
                    
                }
                    .sidebar .filtros .formulario .btnForm:hover{
                        background: #0300D4;
                        transition: 0.5s ease;
                        color: #fff;
                        border: 1px solid #0300D4;
                        cursor: pointer;   
                    }
                .sidebar .filtros .formulario .btnSendForm{
                    margin-top: 10px;
                }
