/* responsive */
@media screen and (max-width: 1100px) {
    .seccionCatalogo .text {
        padding-top: 30px;
    }
    .contenedor-header img{
        height: 400px;
    }
    .sidebar{
        margin-top: 150px;
    }
}
/* responsive */
@media screen and (min-width: 1100px) {
    .seccionCatalogo .text {
        padding-top: 30px;
    }
    .sidebar{
        margin-top: 150px;
    }
}
@media screen and (min-width: 1400px) {
    .seccionCatalogo {
        padding-top: 50px;
    }
    .contenedor-header img{
        height: 500px;
    }
    .sidebar {
        margin-top: 200px;
        margin-right: 20px;
    }
}
@media screen and (min-width: 1600px) {
    .seccionCatalogo {
        padding-top: 125px;
    }
    .sidebar {
        margin-top: 275px;
    }
}
@media screen and (min-width: 1800px) {
    .seccionCatalogo {
        padding-top: 150px;
    }
    .sidebar{
        margin-top: 300px;
    }
}